.body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.cabecera-container {
  flex: auto;
  width: 100%;
  height: 80px;
  background-color: white;
}

.ventana-principal {
  flex: auto;
  display: flex;
  top: 80px;
  background-color: #1a2f5b;
  width: 100%;
  height: 50rem;
}
