
.cabecera-container {
  flex: auto;
  width: 100%;
  height: 80px;
  background-color: white;
}

.ventana-principal {
  display: flex;
  background-color: #1a2f5b;
  width: 100%;
  min-height: 90vh;
  max-height: auto;
}

.nombre-etiqueta {
  font-size: 18px;
}

.checkbox { 
  width: 20px;
  height: 18px;
  margin-right: 5px;
}

