.body{
    display: flex;
    flex-direction: column;
}

.cabecera-container {
    flex:auto;
    width: 100%;
    height: 80px;
    background-color: white;
    
}

.ventana-principal{
    flex:auto;
    display: flex;
    top: 80px;
    background-color: #1A2F5B; 
    width: 100%;
    height: 633px;
}



