/*.Botones {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}*/
.cancelar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 40px;
  color: white;
  background-color: #ff2e00;
  border-radius: 10px;
  border: none;
  cursor: pointer; 
}

.guardar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 40px;
  color: white;
  background-color: #0e84c7;
  border-radius: 10px;
  border: none;
  cursor:pointer;
}
