.Botones
{
    margin: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;  
    
}
.cancelar
{text-align-last: center;
    width: 100%;
    height: 100%;
    color: white;
    
    background-color: #FF2E00 !important;
    margin: 5px ;  
    border-radius: 5px;
    text-align: center;
}

.guardar
{text-align-last: center;
    width: 100%;
    height: 100%;
    color: white;
    background-color:#0E84C7;
    margin:5px ;  
    border-radius: 5px;
    text-align: center;
}