/*.Botones {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}*/
.cancelar {
  text-align-last: center;
  width: 170px;
  height: 40px;
  color: white;
  background-color: #ff2e00;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  left: 26cm;
  top: -1.9cm;
}
.guardar {
  text-align-last: center;
  width: 170px;
  height: 40px;
  color: white;
  background-color: #0e84c7;
  margin: 5px;
  border-radius: 10px;
  position: relative;
  left: 25cm;
  top: -2cm;
}
