.cabecera {
  background-color: #284073;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: center;
}

.boton-navbar {
  flex-direction: row;
  font-size: 18px;
  background-color: #284073;
  color: #ffffff;
  cursor: pointer;
  padding: 0%;
  justify-self: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding-top: 20%;
}
.boton-navbar:hover {
  font-size: 18px;
  color: #0655ff;
}

.boton-navbar-pro {
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bolder;
  padding: 10px;
  align-items: center;
  margin-left: 60px;
  background-color: transparent;
  border: none;
}

.boton-navbar-pro:hover {
  color: #0655ff;
  cursor: pointer;
  font-size: 15px;
  font-weight: bolder;
}

.categorias {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-grow: 1;
  text-align: right;
  justify-content: space-between;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 10%;
}
.cajaproducto {
  display: block;
  right: 0px;
  display: inline-block;
}
.otro {
  color: transparent;
}

.jdk {
  font-weight: normal;
}

.cell{
  font-weight: bold;
}

.opciones-navbar {
  display: flex;
  width: 45%;
  flex-direction: row-reverse;
  padding-top: 20px;
  justify-content: center;
}

.opciones-navbar h2 {
  font-weight: lighter;
}

.boton-usuario {
  width: 50px;
  height: 52px;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: none;
  margin-left: 30%;
}
.barra-buscar input{
  height: 35px;
  background-color: white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  outline: none;
  margin: 0%;
  width: 150px; 
  font-size: 1rem;
  padding: 9px 10px 9px 5px;
  transition: width 1s ease-in-out
}
.barra-buscar input:focus{
  width: 90%; 
}

.barra-buscar{
  margin-left: 20%;
  height: 35px;
  width: 350px;
  display: flex;
  align-items: center;
  gap: 0;
}

.buscar-no-visible{
  display:none;
}

.contenedor-icono{
  background-color: #0E84C7;
  height: 35px;
  width: 42px;
  cursor: pointer;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.busqueda-icon{
  width: 30px;
  height: 30px;
}

.busqueda-icon:hover {
  filter: brightness(90%);
}

.contenedor-icono:hover{
  background-color: #2076a7;
}

#boton-X{ 
  background-color: white;
  height: 35px;
  width: 35px;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#boton-X:hover{
  background-color: #f5cdc5;
}

.buscar-contenedor {
  display: flex;
  height: 100%;
  width: 35%;
  align-items: center;
}

.foto-u{
  width: 10%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
