input[type="text"] {
  display: flex;
  border: solid 2px white;
  background-color: #dbeafa;
  width: 400px;
  height: 40px;
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
  left: 60%;
  bottom: 5cm;
  font-family: Tahoma;
  font-size: 20px;
}
.combo-box {
  display: flex;
  border: solid 2px white;
  background-color: #dbeafa;
  width: 400px;
  height: 40px;
  margin: 5px;
  border-radius: 5px;
  font-size: 20px;
  left: 60%;
  bottom: 5cm;
  padding: 5px;
}

.letras {
  color: white;
  left: 60%;
  bottom: 5cm;
  font-size: 150%;
}


.textarea textarea{
  resize: none;
  display: flex;
  border: solid 2px white;
  background-color: #dbeafa;
  width: 400px;
  height: 95px;
  margin: 5px;
  border-radius: 5px;
  left: 60%;
  bottom: 5cm;
  padding: 10px;
  font-size: 20px; 
}
#etiqueta {
  width: 215px;
}
#precio {
  width: 175px;
}
.errorMensaje{
  color: #ff2e00;
  font-size: 15px;
}