.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgb(6, 150, 23);
    width:15%;
    top: 110px;
    min-width: 20%;
    max-width: 20%;
}