
.menuIzquierda{
  background-color: #284073;;
  display: flex;
  flex-direction: column; 
  height: 685px;
  left: 50px;
  width: 25%;  
  color: white;
}
.modeloCateg{
  margin-left: 20%;
}
.dispositivosMoviles{
  color: rgb(255, 255, 255);
  font-weight: 700;
  position: relative;
  left: 38px;
  top: 10px;
  font-size: 20px;
}
.categoria1{
  color: rgb(255, 255, 255);
  font-weight: 700;
  position: relative;
  left: 18px;
  top: 10px;
  font-size: 20px;
}
.modeloCateg{
  font-size: 140%;
}
.etiquetas {
  display: none;
}
.etiquetas-visible {
  display: block;
}

/*
.boton-registro{
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: #284073;
  padding: 10px;
  margin: 20px 0px 20px 50px ;
}
.boton-registro:hover{
  color: white;
  background-color: #284073;
  border: 2px solid floralwhite;
   border-radius: 10%;
}
.boton-modificar{
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: #284073;
  padding: 10px;
  margin: 20px 0px 20px 50px ;
}
.boton-modificar:hover{
  cursor: pointer;
  color: white;
  background-color: #284073;
  border: 2px solid floralwhite;
  border-radius: 10%;
}
#categoria{
  color: white;
  font-size: 35px;
}*/
