.menuIzquierda {
  background-color: #284073;
  display: flex;
  flex-direction: column;
  min-width: 15%;
  max-width: 15%;
  color: white;
  gap: 20px;
  padding-top: 10px;
  align-items: center;
  min-height: 90vh;
  max-height:100vh;
}

.dispositivosMoviles {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 21px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  width: 85%;
  /*   flex-wrap: wrap; */
  justify-content: space-around;
  white-space: pre-wrap;
}

.modeloCateg {
  margin-left: 10%;
}

.categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categoria1 {
  color: rgb(255, 255, 255);
  font-weight: 00;
  font-size: 25px;
  margin-left: 50px;
}
.etiquetas {
  display: none;
}
.etiquetas-visible {
  display: block;
  font-size: 25px;
  font-weight: 100;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: flex-start;
  flex-wrap: wrap;
  white-space: pre-wrap;
}
.etiquetas-visible ul {
  margin-top: 10px;
  margin-left: 10px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.boton-registro {
  width: 250px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: #284073;
  width: 80%;
}
.boton-registro:hover {
  color: white;
  background-color: #284073;
  border: 2px solid floralwhite;
  border-radius: 10px;
  width: 80%;
  height: 50px;
}
.boton-modificar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: #284073;
  width: 80%;
}
.boton-modificar:hover {
  cursor: pointer;
  color: white;
  background-color: #284073;
  border: 2px solid floralwhite;
  border-radius: 10px;
  height: 50px;
}
.contenedor-categoria {
  background-color: #284073;
  display: flex;
  flex-direction: column;
  min-width: 20%;
  max-width: 15vh;
  color: white;
  gap: 20px;
  padding-top: 20px;
}

/*#categoria{
  color: white;
  font-size: 35px;
}*/
