.pr-content {
  background-color: #1A2F5B;
  display: flex;
  border-radius: 10px;
  border: 3px solid #0e84c7 !important;
  flex-direction: column;
  border-radius: 20px;
  height: 420px;
  width: 730px;
}

.contenido-encabezado{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 17%;
  align-items: center;
}

.popupproucto {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 13px;
  color: white;
  width: 100%;
  height: 100%;
}
.popupcontenido {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 93%;
  justify-content: center;
  align-items: center;
  
}
.med {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: none;
  border-radius: 11px;
  width: 200px;
  word-wrap: break-word;
  height: 95%;
  justify-content: space-between;

}

.imagenpop {
  display: flex;
  border-radius: 10px;
  height: 95%;
  width: 35%;
}
.centreado1 {
  display: flex;
  flex-direction: column;
   justify-content: center;
  /* align-items: center;  */
  border-radius: 15px;
  border: 2px solid #0e84c7;
  padding: 10px;
  width: 90%;
  height: 45%;
  
}

.marca {
  word-wrap: break-word;
}

.centreado2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 17px;
  border: 2px solid #0e84c7;
  padding: 10px;
  width: 90%;
  height: 45%;

}
.cate {
  display: flex;
  flex-direction: column;
  border: 2px solid #0e84c7;
  border-radius: 13px;
  width: 40%;
  height: 95%;
  overflow: auto;
  padding-top : 10px; 
}

.cate p {
  margin-top: 10px;
  text-align: left;
  margin-left: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.nP {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-size: 25px;
}

.close-container {
  cursor: pointer;
  display: flex;
  margin-left: 90%;
  margin-bottom: 40%;
}
.contenedor-cruzanimado{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11%;
  height: 100%;
}

.leftright {
  display: flex;
  height: 4px;
  width: 30px;
  position: absolute;
  background-color: white;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}

.rightleft {
  height: 4px;
  width: 30px;
  display:flex;
  position: absolute;
  background-color: white;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

.close-container:hover .leftright {
  transform: rotate(-45deg);
  background-color: #ff2e00;
}
.close-container:hover .rightleft {
  transform: rotate(45deg);
  background-color: #ff2e00;
}

.descripcion{
  word-wrap: break-word;
  white-space: pre-wrap;
  /*Estilos para scroll*/
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  
}
.boton-flecha{
  background-color:transparent;
  border-radius: 20px;
  width: 15%;
  height: 52%;
  border: 2px solid #0E84C7;
  display: flex;
}
.mostrar-pro{
  font-size: 80%;
}
.icono-f{
  border:none;
}
.icono-f:hover {
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 7px 7px #0e84c7;
  -webkit-box-shadow: 0px 0px 7px 7px #0e84c7;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}

.icono-i:hover {
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 7px 7px #0e84c7;
  -webkit-box-shadow: 0px 0px 7px 7px #0e84c7;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}

.pp2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 90%;
  height: 350px;
}
.mens123{
  

}
.errorMensaje {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.bt-anadir{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 110px;
    border-radius: 30px;
    border: 2px solid #0E84C7; /* borde */
    background-color: #284073;
    color: white;
    height: 40px;
    align-self: self-start;
    padding: 5px;
}
.icono-agregar{
  display: flex;
  margin-left: 7px;
}
#tabla{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;

}

#tabla thead{
  height: 40px;
  display: flex;
  flex-direction: row;
  border-radius:13px;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

#tabla thead th{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  text-align: center;
}

.lista{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;

  }
  
.ele{
  background-color: #284073;
  color: white;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#lista-tabla {
  margin-top: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-collapse: separate;
  /* border-spacing: 0px 5px; */
}
  #lista-tabla::-webkit-scrollbar {
    width: 10px; /* Ajusta el ancho según sea necesario */
  }
  
  #lista-tabla::-webkit-scrollbar-thumb {
    background-color: #FFFFFF; /* Cambia "blue" al color deseado */
  }
  
  #lista-tabla::-webkit-scrollbar-track {
    background-color: #989696; /* Cambia "lightgray" al color deseado */
  }
  
  #lista-tabla::-webkit-scrollbar-thumb:hover {
    background-color: #FFFFFF; /* Cambia "darkblue" al color deseado para el estado hover */
  }
  
.color{
  background-color:#284073 ;
  border:none;
  color: white;
  font-size: 25px;
  text-align: center;
  width: 200px;
  margin-right: 5px;
   
}
.pre{ 
  border: 2px solid #0E84C7; /* borde */
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: none;
  width: 145px;
}
.imei{
  background-color:#284073 ;
  font-size: 25px;
  border: 2px solid #0E84C7; /* borde */
  color: white;
  text-align: center;
  width: 250px;
  height: 100%;
}
.imei::placeholder{
  color: white;
}
.color::placeholder{
  color:white;
}

.numero{
  border: 2px solid #0E84C7; /* borde */
  border-top-left-radius: 8px; /* borde redondo superior izquierdo */
  border-bottom-left-radius: 8px;
  border-right: none;
  width: 60px;
  font-size: 25px;
   
}
.vacioEle{
  border: 2px solid #0E84C7; /* borde */
  border-top-left-radius: 8px; /* borde redondo superior izquierdo */
  border-bottom-left-radius: 8px;
  border-right: none;
  /* width: 110px; */
  height: 33px;
  font-size: 25px;
}
.h{
  display: flex;
  flex-direction: column;
  
  flex-grow: 1;
  width: 100%;
}
.o{
  width: 80px;
  border: 1px solid #0655FF;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: none;
  background-color: #0655FF;
}
.m1{
  border: 1px solid #0655FF;
  width: 341px;
  background-color: #0655FF;
}
.m2{
  border: 1px solid #0655FF;
  width: 200px;
  background-color: #0655FF;
}
.m3{
  
  border: 1px solid #0655FF;
  width: 20%;
  background-color: #0655FF;
}
.n{
  border:4px solid #0655FF;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: none;
  background-color: #0655FF;
  width: 20%;
}
.fila{
  justify-content: space-around;
}
.a1{
  /* text-align: center;  */
}
.palabras{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.anadirp{
  display:flex;
  margin-left: 20px;
  flex-direction: row;
  align-items: start;
  justify-content: end;
}
.modificar-aceptar{
  /* display: flex;
  flex-direction: column;  */
  color: white;
  background-color: #0C95FA;
  border-radius: 5px;
  /* border: 2px solid #0C95FA; */
  width: 75px;
  height: 33px;
  justify-content: center;
  font-size: x-large;
  cursor: pointer;
  justify-content: space-between;
  margin-right: 5px;
  border: none;
  
}
.vender-cancelar{
  color: white;
  background-color: #0DC832;
  border: 2px solid #0dc832a9;
  border-radius: 5px;
  width: 79px;
  height: 33px;
  cursor: pointer;
  border: none;
}
.cancelarPP{
  background-color: #F3450F;
  border: 2px solid #dd3116;
  border-radius: 5px;
  width: 79px;
  height: 33px;
  cursor: pointer;
  border: none;
}
.bt-anadir{
  display: flex;
  justify-content: left;
  color: white;
  background-color: #284073;
  cursor: pointer;
}
.contenedor-izquierda{
  display: flex;
  width: 15%;
}
.contBotones{
  height: 23px;
  width: 23px;
}
.IcoA{
  display: flex;
  height: 30px;
  width: 30px;
  margin-top: 1.2px;
}
.IcoA:hover{
  height: 30px;
  width: 30px;
  border: none;
  justify-content: center;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 7px 7px #0e84c7;
  -webkit-box-shadow: 0px 0px 7px 7px #0e84c7;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition: transform 0.5s ease-in-out; 
  
}