.contenido {
  border-radius: 5px;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  margin: 1px;
  color: white;
}
.direccion {
  margin: 1px;
  width: 100%;
  height: 5%;
}
.titulo {
  padding: auto;
  text-align-last: center;
  margin: 5px;
  text-align: center;
  font-size: 23px;
  color: white;
}

/*.placeholder
{
    padding: auto;
    margin:15px; 
    width:90%;
    height:90%; 
    border: solid 2px white;
    background-color:teal ;
    border-radius: 5px;
   
}*/
.atributos {
  align-items: center;
  margin: 5px;

  width: 90%;
  height: 90%;
}
.Botones {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
/*.botonCancelar
{text-align-last: center;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #FF2E00;
    margin: 5px ;  
    border-radius: 5px;
    text-align: center;
}

.botonGuardar
{text-align-last: center;
    width: 100%;
    height: 100%;
    color: white;
    background-color:#0E84C7;
    margin:5px ;  
    border-radius: 5px;
    text-align: center;
}*/
/*.entradaNombre
{
    display: flex;
    width: 100%;
    height: 100%;
    border: solid 2px white;
    background-color: #DBEAFA;
    margin:5px ; 
    border-radius: 5px;
}
.entradaDescripcion
{
    display: flex;
    border: solid 2px white;
    background-color: #DBEAFA;
    width: 100%;
    height: 100%;
    margin:5px ; 
    border-radius: 5px;
}*/
.entradaEtiquetas {
  display: flex;
  background-color: #dbeafa;
  width: 100%;
  height: 100%;
  margin: 5px;
  border-radius: 5px;
}
