.titulo{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.tabla{
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    border-radius: 8px;
}
.notaVentaDerecha{
    width: 58%;
}
.notaVentaIzquierda{
    width: 42%;
    display: flex;
    flex-direction: column;
}
.conte-Nota{
    width: 90%;
    height: 70vh;
    flex-direction: row;
    display: flex;
}
#nombre-ven{
    color: white;
    font-weight: bolder;
    font-size: 20px;
}
#nombre-ven-1{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 5%;
}
#resultados{
    color: white;
    font-size: 20px;
    margin-left: 5%;
}
#resultado-2{
    color: white;
    font-size: 20px;
    margin-right: 3%;
}
#resultados-1{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 20px;
    border-bottom: 3px solid #0E84C7; 
    border-right: 3px solid #0E84C7;
    width: 50%;
    justify-content: center;
    align-items: center;
}
#resultados-2{
    display: flex;
    color: white;
    font-size: 20px;
    border-bottom: 3px solid #0E84C7; 
    border-right: 3px solid #0E84C7;
    width: 30%;
    justify-content: center;
    align-items: center;
}
#resultados-3{
    display: flex;
    width: 20%;
    color: white;
    font-size: 20px;
    border-bottom: 3px solid #0E84C7; 
    justify-content: center;
    align-items: center;
}
.datosVendedor{
    display: flex;
    flex-direction: column;
    border: 3px solid #0E84C7;
    border-radius: 10px;
    width: 80%;
    height: 40%;
    justify-content: center;
    gap: 10%;
}
.argumento{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}
#titulo-producto{
    width: 50%;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#titulo-imei{
    width: 30%;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#titulo-importe{
    width: 20%;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-titulos{
    background-color: #0655FF;
    display: flex;
    flex-direction: row;
    height: 10%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}
.inputsNotaVenta{
    display: flex;
    height: 50%;
    flex-direction: column;
}
.contenedor-datos{
    height: 50%;
    display: flex;
    align-items: center;
}

.inputsNotaVenta #precio{
    width: 80%;
    border: none;
}
.cont-botones{
    width: 95%;
    display: flex;
    justify-content: end;
    gap: 5%;
    margin-top: 4%;
}
.scroll{
    background-color: aqua;
    color: red;
}
.lista-body{
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    border: 3px solid #0E84C7;
    border-bottom: none;
    overflow-y: auto;
}
.total{
    border: 3px solid #0E84C7;
    display: flex;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: center;
    align-items: center;
}
.resultados-venta{
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
}
.cont-to{
    height: 10%;
    display: flex;
}
.total-abajo{
    width: 50%;
    display: flex;
}
.res-abajo{
    width: 50%;
    display: flex;
    justify-content: end;
}