.ventana-formulario {
  border-radius: 5px;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  margin: 1px;
}

.ventana-productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
}
.direccion {
  color: white;
}
.titulo-Ventana {
  color: white;
  position: relative;
  bottom: 7cm;
  text-align: center;
  font-size: 130%;
  font-family: Tahoma, sans-serif;
}
.direccion {
  color: white;
  font-family: Tahoma, sans-serif;
}
